#header {
	width: 100%;
	height: 100vh;
	margin-top: 65px;
	background-color: rgb(177, 94, 201);
	color: #fff;
	position: relative;
	z-index: -10;
}

#header h1 {
	margin: 0 0 10px 0;
	font-size: 48px;
	font-weight: 300;
	line-height: 60px;
}
#header h3 {
	font-size: 24px;
}

#header p {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 1.25em;
}
#header .btn-start {
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 16px 30px;
	border-radius: 30px;
	transition: 0.5s;
	overflow: hidden;
	color: #fff;
	background-color: rgb(177, 94, 201);
	border: 2px solid rgb(177, 94, 201);
	position: absolute;
	right: 61%;
	width: 150px;
}
#header .btn-start:hover {
	background: #fff;
	color: rgb(177, 94, 201);
	border: 2px solid rgb(177, 94, 201);
}
#header input[type="text"] {
	background: #fdfcfb;
	color: #737373;
	padding: 20px 30px;
	letter-spacing: 1px;
	border-radius: 30px;
	position: relative;
	width: 75%;
}
.apple {
	width: 25%;
}
#header .mobile-gif {
	position: relative;
	z-index: 10;
}

.bottom-img-absolute {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
